body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background-color: #fafafa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 1068px;
  margin: auto;
}

/* HEADER */
.header-body {
  background-color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-recherche-favoris {
  display: flex;
  flex-direction: row;
}

.header-annonce {
  height: 10px;
  width: 190px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  align-items: center;
  background-color: #f56b2a;
  border-radius: 5px;
  color: white;
  padding: 15px 8px;
  margin: 0;
  margin-left: 0px;
}

.header-recherche-favoris {
  width: 500px;
  display: flex;
  justify-content: space-between;

  height: 100%;
}

.header-annonce:hover {
  cursor: pointer;
  background-color: #c0562a;
}
.header-annonce-logo {
  height: 25px;
}
.header-annonce-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.header-search {
  display: flex;
  color: #1a1a1a;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

.header-seconnecter {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-seConnecter > p {
  text-align: center;
  margin: 0;
  padding: 0;
}

/* SEARCH */

.search-box {
  background-color: #e6ebef;
  height: 165px;
}

.search-box input,
button,
select {
  border-radius: 5px;
  height: 40px;
  padding: 0px 0px;
  margin: 10px 0px;
  font-size: 13px;
  line-height: 19px;
}

.search-inline {
  display: flex;
  justify-content: space-between;
}

.main-search-input {
  width: 794px;
}

.main-search-input input {
  padding-left: 40px;
}

.search-button {
  width: 256px;
  color: #ffffff;
  background-color: #4183d7;
}

.search-select {
  width: 256px;
}

/* HOME */
.home-body {
  background-color: #fafafa;
}
.container {
  width: 1068px;
  margin: auto;
}

.itemList {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

/* PAGES */

.page-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.page-links {
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.page-li {
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  color: #336699;
}

.page-links li:hover {
  background-color: #d8d8d8;
  text-decoration: underline;
  color: #4485d7;
}

.page-flex i {
  padding-top: 3px;
  color: #336699;
}

.page-flex i:hover {
  cursor: pointer;
}

.current-page {
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  background-color: #f56b2a;
  color: #ffffff;
}

/* OFFER */

.offer {
  display: flex;
  justify-content: space-between;
}

.offer-pic {
  width: 100%;
  height: 395px;
  background-color: blueviolet;
}

.offer-details {
  margin-right: 20px;
}

.offer-info {
  width: 700px;
  height: 520px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.offer-title-price {
  padding: 20px;
}

.offer-info h2 {
  font-size: 24px;
  margin: 0px;
}

.offer-price {
  color: #f56b2a;
  font-size: 20px;
  line-height: 30px;
}

.space-offer {
  height: 70px;
  border-bottom: 1px solid #cad0d8;
}

.offer-profile {
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  text-align: center;
}

.user-profile {
  height: 100px;
  border-bottom: 1px solid #cad0d8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tel-button {
  height: 45px;
  width: 305px;
  background-color: #4083d7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  line-height: 19px;
  margin: 10px;
}

.offer h3 {
  font-size: 16px;
  line-height: 24px;
}

.item {
  height: 165px;

  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.item-pic {
  height: 100%;
  background-color: rgb(216, 216, 216);
  width: 240px;
}
.item-description {
  text-decoration: none;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.item-link {
  text-decoration: none;
  color: #1a1a1a;
}
.item-link:hover {
  color: #f56b2a;
}
.item-price {
  color: #f56b2a;
  font-size: 16px;
  line-height: 18px;
  margin-top: 5px;
}

/* Log In Page */
.logIn-padding {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

.logIn-connexion {
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
}

.logIn-connexion-container {
  border-bottom: 2px solid #f56b2a;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.logIn-form-container {
  width: 600px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.logIn-form-container {
  width: 600px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.logIn-form-container p {
  width: 100%;
}

.logIn-form-email {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #cad0d8;
  padding: 5px;
}

.logIn-form-password {
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #cad0d8;
  padding: 5px;
}

.logIn-submit {
  background-color: #3a7ab9;
  color: white;
  width: 100%;
  height: 42px;
  font-size: 13px;
  line-height: 19px;
  font-weight: 600;
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
}

.logIn-createAccount {
  width: 100%;
  border: 1px solid #3a7ab9;
  border-radius: 5px;
  padding: 5px 0px;
  color: #3a7ab9;
}

.logIn-signIn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logIn-noAccount {
  font-size: 13px;
  line-height: 19px;
  color: #1a1a1a;
  font-weight: 600;
  text-align: center;
}

.logIn-signIn-link {
  font-size: 13px;
  line-height: 19px;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
}

.logIn-createAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

/*SIGN UP */

.sign-up-box {
  width: 100%;
  height: 560px;
  margin-top: 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.sign-up-box {
  font-size: 13px;
  line-height: 19px;
}

.info-box {
  width: 50%;
  text-align: center;
  padding: 20px 30px;
}

.form-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  justify-content: space-around;
}

.form-title {
  border-bottom: 2px solid #f56b2a;
  text-align: center;
}

.signup-pass {
  display: flex;
  display: space-between;
}

.signup-pass input {
  flex: 1;
  width: auto;
}

.signup-input {
  border-radius: 5px;
  height: 40px;
  padding: 0;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
}

.signup-button {
  background-color: #4183d7;
  color: #ffffff;
  border-radius: 5px;
  height: 40px;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
}

.password-error {
  height: 20px;
  color: #f56b2a;
}
